body {
    background-color: rgb(127, 174, 127);
    margin: 0;
}

nav {
    
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
    
  }
  
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #dd3a3a;
}  

.page_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    
    margin-top: 100px;
    background-color: rgb(179, 135, 236);
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.product_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.item {
    width:250px;
    height: 250px;
    background-color: limegreen;
    border-radius: 30px;
    margin: 25px 25px 25px 25px;
}

img {
    width: 100%;
}